
<link rel="stylesheet" type="text/css" href="/css/global.css" />
<link rel="stylesheet" type="text/css" href="/css/about.css" />

<!-- Swiper -->
<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide"><img src="/img/banner/about.jpg" alt=""></div>
  </div>
  <!-- Add Pagination -->
  <!--<div class="swiper-pagination"></div>-->
  <!-- Add Arrows -->
  <!--<div class="swiper-button-next"></div>-->
  <!--<div class="swiper-button-prev"></div>-->
</div>

<div class="content">
  <div class="row row1">
    <a href="" title="" name="aboutus"></a>
    <div class="containter">
      <!--<div class="head-title">-->
          <!--<h1>拥抱车联网，是我们的宗旨</h1>-->
      <!--</div>-->

      <a href="" title="" name="enterpriseprofile"></a>
      <div class="about-grid clearfix">
        <div class="text right">
          <div class="title-wrap">
            <div class="title">
              <h1>企业简介</h1>
              <p>Company Profile</p>
            </div>
          </div>
          <div class="company-info">
            <div class="summary">
              <p>颂车网是一家专注于为用户提供一站式用车、出行服务的车联网平台，我们秉承“美好车生活·快乐享出行”的理念，致力于为用户提供优质车源和配套金融服务的同时提供全新、无压力的用车服务体验。</p>
              <p>颂车网打造以颂车交易、颂车出行、颂车社交、颂车汽后、颂车车生活、颂车金融、颂车商城等一系列综合服务的智慧生态圈。颂车网于 2017 年 7 月12日，总部设立于重庆，目前服务覆盖14个省市自治区。</p>
            </div>
          </div>
        </div>
        <div style="margin-top: 50px" class="image left">
          <img  src="/img/about/about-1.png"  alt=""/>
        </div>
      </div>

      <a href="" title="" name="enterpriseculture"></a>
      <div class="about-grid clearfix">
        <div style="margin-top: 40px" class="image right">
          <img  src="/img/about/about-2.png"  alt=""/>
        </div>
        <div class="text left">
          <div class="title-wrap">
            <div class="title">
              <h1>企业文化</h1>
              <p>Corporate Culture</p>
            </div>
          </div>
          <div class="company-info">
            <div class="summary center">
              <p>价值观：<br />
                创业精神：激情、创新、使命必达！<br />
                办事原则：共情、共担、共享！<br />
                人际关系：简单、阳光、积极向上！</p>
            </div>
          </div>
        </div>
      </div>

      <a href="" title="" name="enterprisevision"></a>
      <div class="about-grid clearfix">
        <div class="text right">
          <div class="title-wrap">
            <div class="title">
              <h1>企业愿景</h1>
              <p>Enterprise Vision</p>
            </div>
          </div>
          <div class="company-info">
            <div class="summary">
              <p>做中国最大最佳用户体验的诚信平台；打造一站式用车、出行服务平台，让用车、出行更美好！</p>
              <p>提供集社交、租赁出行、汽车交易、金融、商城、汽后、车生活版块等全面生态圈服务，美好车生活、快乐享出行！</p>
            </div>
          </div>
        </div>
        <div style="margin-top: 40px" class="image left">
          <img  src="/img/about/about-3.png"  alt=""/>
        </div>
      </div>


    </div>
  </div>

  <a href="" title="" name="developmentmileage"></a>
  <div class="row row3">
    <div class="containter">
      <a href="" title="" name="environment"></a>
      <div class="title-wrap" style="height: 160px">
        <div class="title">
          <h1>发展里程</h1>
          <p>Development Mileage</p>
        </div>
      </div>
      <div class="company-info">
        <div class="summary center">
          <p>不忘初心，戮力前行！</p>
        </div>
      </div>
      <div class="img-inf">
        <img  src="/img/about/about-4.png"  alt=""/>
      </div>
    </div>
  </div>

  <a href="" title="" name="officeenvironment"></a>
  <div class="row row3">
    <div class="containter">
      <a href="" title="" name="environment"></a>
      <div class="title-wrap" style="height: 160px">
        <div class="title">
          <h1>办公环境</h1>
          <p>Office Environment</p>
        </div>
      </div>
      <div class="company-info">
        <div class="summary center">
          <p>温馨、舒适，美好的一天从这里开始！</p>
        </div>
      </div>
      <div class="img-inf">
        <img  src="/img/about/about-5.png"  alt=""/>
      </div>
    </div>
  </div>

  <a href="" title="" name="joinus"></a>
  <div class="row row6">
    <div class="containter">
      <div class="title-wrap" style="height: 160px">
        <div class="title">
          <h1>加入我们</h1>
          <p>Join Us</p>
        </div>
      </div>
      <div class="company-info">
        <div class="summary center">
          <p>加入颂车网，一起实现梦想！</p>
        </div>
      </div>
      <br />
      <div class="tab fl">
        <ul>
          <li class="item active">技术
            <ul class="sub-con active">
              <li class="active" name="skill01">Java工程师&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1人&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
              <li name="skill02">前端开发工程师&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1人&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
              <li name="skill03">iOS开发工程师&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2人&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
              <li name="skill04">Android开发工程师&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1人&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
            </ul>
          </li>
          <li class="item">
            设计
            <ul class="sub-con">
              <li name="design01">平面设计&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
              <li name="design02">UI设计&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
            </ul>
          </li>
          <li class="item">
            运营 支持
            <ul class="sub-con">
              <li name="support01">HRBP&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
              <li name="support02">客服专员&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
              <li name="support03">市场经理&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
              <li name="support04">新媒体运营&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
              <li name="support05">电商商品&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
              <li name="support06">电商运营&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
            </ul>
          </li>
          <li class="item">
            供应链
            <ul class="sub-con">
              <!-- <li name="supply01">供应链专员&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li> -->
            </ul>
          </li>
        </ul>
      </div>
      <div class="con-inf fl">
        <div id="skill01" class="detail-con active">
          <h1>Java工程师</h1>
          <dl>
            <dt>岗位职责：</dt>
            <dd>1、根据工作安排完成系统功能模块的开发工作；</dd>
            <dd>2、良好的融入团队，与团队成员保持高效的配合及顺畅有效的沟通；</dd>
            <dd>3、撰写清晰的工作文档（如需求文档、接口文档等）；</dd>
            <dd>4、对自己开发的项目或模块负责，出现问题能够保证及时有效的跟进及修复。</dd>
          </dl>
          <dl>
            <dt>岗位要求：</dt>
            <dd>1、大专及以上学历，计算机相关专业，1-3年Java开发经验，亦欢迎优秀的应届毕业生；</dd>
            <dd>2、具备良好的Java基础知识，熟悉SpringMVC、Mybatis、Hibernate等主流框架，并具备相关开发经验；</dd>
            <dd>3、熟悉Mysql数据库，有基本的Sql优化意识；</dd>
            <dd>4、熟悉html、js、css等基础前端知识，具备一定的web前端开发能力；
            </dd>
            <dd>5、具备良好的编码规范和编程习惯，代码结构清晰、命名规范、逻辑性强、注释清晰；</dd>
            <dd>6、具备良好的沟通能力及抗压能力，工作负责，有较强的主动学习能力。</dd>
          </dl>
        </div>
        <div id="skill02" class="detail-con">
          <h1>前端开发工程师</h1>
          <dl>
            <dt>岗位职责：</dt>
            <dd>1、负责公司日常前端开发支持；</dd>
            <dd>2、解决不同机型手机端浏览器兼容性问题；</dd>
            <dd>3、配合产品以及UI设计师完成相关产品的实现；</dd>
            <dd>4、根据后台工程师制定的开发文档，进行页面开发联调并测试；</dd>
            <dd>5、负责微信小程序的开发和维护工作，熟悉微信平台接口及微信小程序功能研发；</dd>
          </dl>
          <dl>
            <dt>岗位要求：</dt>
            <dd>1、 大专及以上学历，计算机相关专业，1-3年前端开发经验；</dd>
            <dd>2、 熟悉W3C标准，熟悉页面架构和布局。对表现与数据分离、Web语义化等有较为深刻的理解；</dd>
            <dd>3、 熟悉HTML5、CSS3，ajax 等Web开发技术；</dd>
            <dd>4、 掌握javaScript语言、Es6语法, 熟练掌握jQuery/zepto等JavaScript库；</dd>
            <dd>5、 熟悉Angular、React、Vue技术栈中至少一种；</dd>
            <dd>6、 熟悉微信小程序开发原理、开发流程，接口组件、验证授权等，能独立开发微信小程序应用。</dd>
          </dl>
        </div>
        <div id="skill03" class="detail-con">
          <h1>iOS开发工程师</h1>
          <dl>
            <dt>岗位职责：</dt>
            <dd>1、主导IOS客户端软件产品研发；</dd>
            <dd>2、与产品和运营人员沟通保证产品的质量和开发进度；</dd>
            <dd>3、持续的优化相关的产品的质量、性能、用户体验。 </dd>
            <dt>任职要求：</dt>
            <dd>1、大专以上学历，计算机、软件工程相关专业优先；</dd>
            <dd>2、一年以上ios产品开发经验；</dd>
            <dd>3、有扎实的Object C/C/C++语言基础，精通常用数据结构和算法；</dd>
            <dd>4、熟悉iOS开发技术和各iOS版本特点，能熟练使用iOS开发及测试工具；</dd>
            <dd>5、热爱移动产品开发；</dd>
            <dd>6、学习能力强，有创造性思维能力；</dd>
            <dd>7、良好的逻辑思维能力和表达能力，良好的分析和解决问题的能力；</dd>
            <dd>8、工作积极主动，责任心强，工作踏实严谨。</dd>
          </dl>
        </div>
        <div id="skill04" class="detail-con">
          <h1>Android开发工程师</h1>
          <dl>
            <dt>岗位职责：</dt>
            <dd>1、负责安卓Android平台下的应用开发；</dd>
            <dd>2、根据需求进行Android客户端的设计、开发、测试和维护；</dd>
            <dd>3、负责代码的和产品的优化，持续提高APP用户体验。</dd>
            <dd>4、熟悉Android框架，独立完成Android系统的应用程序的设计、开发与调试。</dd>
            <dd>5、负责跟进手机应用技术发展，设计并实现新的创意功能。</dd>
          </dl>
          <dl>
            <dt>岗位要求：</dt>
            <dd>1、1年及以上Android应用开发经验；</dd>
            <dd>2、熟悉Android应用开发框架，熟悉Android SDK，能独立开发高性能Android应用；</dd>
            <dd>3、工作认真踏实、有负责感；沟通能力强，具有良好的团队合作精神；</dd>
            <dd>4、有一定的系统分析和设计能力，有良好的开发思想、规范的编程风格；</dd>
            <dd>5、做事积极主动，具备优秀的学习能力，能承受较大的工作压力。</dd>
            <dd>6、有过上线产品开发经验者优先考虑。</dd>
          </dl>
        </div>

        <div id="design01" class="detail-con">
          <h1>平面设计</h1>
          <dl>
            <dt>岗位职责：</dt>
            <dd>1、艺术、设计类专业，有良好的美术功底；</dd>
            <dd>2、对各种艺术门类有一定的鉴赏能力，且形成自己独到的见解；</dd>
            <dd>3、1年以上广告公司平面设计经验，有前端开发经验者优先考虑；</dd>
            <dd>4、对品牌视觉识别系统（VI）设计及执行有良好的把控能力；</dd>
            <dd>5、具有一定手绘功底；</dd>
            <dd>6、对网页设计、产品设计、展示设计等方面有一定的了解，并能制作效果图；</dd>
            <dd>7、熟悉编辑、印刷等相关工作，并能对品质进行把控；</dd>
            <dd>8、熟练操作PHOTOSHOP、Illustrator、CorelDRAW、Flash等相关设计软件。</dd>
          </dl>
          <dl>
            <dt>岗位要求：</dt>
            <dd>1、海报、宣传册等的平面设计和制作；</dd>
            <dd>2、公司各类品牌宣传资料的设计、制作和创意；</dd>
            <dd>3、承当企业VI设计工作，包括基础要素设计及应用系统设计；</dd>
            <dd>4、公司业务推广活动宣传品设计制作；</dd>
            <dd>5、协助网页设计人员，把握公司网站风格，做好色调搭配、布局等方面的处理；策划并组织执行公司业务推广活动；</dd>
          </dl>
        </div>
        <div id="design02" class="detail-con">
          <h1>UI设计</h1>
          <dl>
            <dt>岗位职责：</dt>
            <dd>1、负责公司整体VI识别和设计风格的把握；</dd>
            <dd>2、负责WEB网站页面UI设计和优化；</dd>
            <dd>3、负责核心手机客户端UI设计和优化；</dd>
            <dd>4、为公司产品运营和推广设计所需要的各种素材；</dd>
            <dd>5、承担公司需要的其他设计工作。</dd>
          </dl>
          <dl>
            <dt>岗位要求：</dt>
            <dd>1、具有良好的审美能力，以及对颜色、图形熟练搭配与应用的能力；</dd>
            <dd>2、1年以上互联网公司相关设计工作从业经验；</dd>
            <dd>3、熟练使用Photoshop、Illustartor、Adobe After Effects、Axure等常用设计软件；</dd>
            <dd>4、对UI设计有良好的认知和深刻的理解，充分理解各项产品的设计方案，在UI设计中保证所有产品的视觉整体性；</dd>
            <dd>5、工作积极主动，责任心强，工作配合度好，优秀的沟通能力及领悟能力。</dd>
          </dl>
        </div>
        <div id="support01" class="detail-con">
          <h1>HRBP</h1>
          <dl>
            <dt>岗位职责：</dt>
            <dd>1、配合人资主管统筹规划公司的人力资源战略，完善并发展公司人力资源管理体系；</dd>
            <dd>2、根据公司及各部门的用人要求，选择合理的招聘渠道，及时为不同岗位招聘到合适的人选，以保证公司业务的正常开展；
            </dd>
            <dd>3、配合人资主管构建完善的培训体系，负责公司培训工作计划的制定及培训方案的设计；
            </dd>
            <dd>4、配合人资主管落地公司绩效考核制度、评定标准及实施方案，组织考评及结果分析和管理；
            </dd>
            <dd>5、配合人资主管完善公司薪酬福利政策和管理制度及预算方案，构建良好的薪酬激励体系；</dd>
            <dd>6、及时了解国家相关人事政策，为公司管理层提供人事政策依据，为公司及各部门提供劳动人事方面的咨询和服务。</dd>
          </dl>
          <dl>
            <dt>岗位要求：</dt>
            <dd>1、统招本科及以上学历，人力资源或管理类相关专业优先；
            </dd>
            <dd>2、2年以上人力资源管理工作经验，其中要求最少有半年以上互联网公司人力资源管理工作；
            </dd>
            <dd>3、逻辑思维能力强，工作条理比较强；</dd>
            <dd>4、具有良好的职业素质，原则性强，具有出色的执行力；</dd>
            <dd>5、熟悉国家及厦门市相关劳动人事政策规定，熟悉现代企业人力资源管理实务；</dd>
            <dd>6、精通人力资源日常管理工作流程：包括人才招聘计划，招聘录用，教育培训，绩效考评，福利待遇，公司制度建设，组织与人员调整。</dd>
          </dl>
        </div>
        <div id="support02" class="detail-con">
          <h1>客服专员</h1>
          <dl>
            <dt>岗位职责：</dt>
            <dd>1、负责接听客户电话并解答客户疑问，分析客户反馈意见，协调相关部门为客户及时提供优质的服务；</dd>
            <dd>2、收集客户信息，了解并分析客户需求，规划客户服务方案；</dd>
            <dd>3、定期回访,了解用户对产品和服务的满意度，做好客户关怀；</dd>
            <dd>4、协助上级搭建并优化客服体系，建立客户档案、问题解答等信息库；</dd>
          </dl>
          <dl>
            <dt>岗位要求:</dt>
            <dd>1、有相关客服工作经验，普通话标准，声音甜美，有较强的亲和力及团队协作能力；</dd>
            <dd>2、能够独自应付并处理紧急问题，熟练操作办公室软件，具有一定抗压能力；</dd>
            <dd>3、学习能力强，善于沟通和倾听。</dd>
          </dl>
        </div>
        <div id="support03" class="detail-con">
          <h1>市场经理</h1>
          <dl>
            <dt>岗位职责：</dt>
            <dd>1、在目标区域内拓展商户及合作方，实现业务落地；</dd>
            <dd>2、针对当地市场环境、竞对情况，与团队共同制定并执行运营方案；</dd>
            <dd>3、持续学习了解业务相关知识，掌握行业动态。对不同阶段公司的战略、战术调整给出独到的思考与意见；</dd>
            <dd>4、任职优秀者晋升城市经理，接受公司外派。</dd>
          </dl>
          <dl>
            <dt>岗位要求：</dt>
            <dd>1、强大的好奇心及学习能力，对互联网创业、社区经济有浓厚兴趣，渴望加入创业团队；</dd>
            <dd>2、具备较强的沟通能力、抗压能力，善于自我调整。能在困境中保持乐观，理清思路；</dd>
            <dd>3、性格坚韧，百折不挠，敢于亮剑；</dd>
            <dd>4、有强烈的事业心、责任心和主人翁意识，有团购、外卖行业等市场推广相关工作经验者优先。</dd>
          </dl>
        </div>


        <div id="support04" class="detail-con">
          <h1>新媒体运营</h1>
          <dl>
            <dt>岗位职责：</dt>
            <dd>1、负责社会化媒体（微信公众号、微博等）的内容创意、文案撰写工作；</dd>
            <dd>2、负责微信、微博等平台的推广维护工作，定期策划并执行线上营销活动；
            </dd>
            <dd>3、挖掘和分析粉丝使用习惯、情感及体验感受，即时掌握新闻热点，能够完成专题；
            </dd>
            <dd>4、根据品牌发展战略，负责品牌传播活动的文案策划工作；
            </dd>
            <dd>5、找到创意和商业的结合点，可具体落地执行有效的策划方案和活动方案；</dd>
          </dl>
          <dl>
            <dt>岗位要求：</dt>
            <dd>1、脑洞够大，根据不同的需求写出不同的创意文案；
            </dd>
            <dd>2、关注热点。能够及时抓住热点、结合热点展开创意；
            </dd>
            <dd>3、对生活、娱乐、美食、社会等内容有敏感的洞察；</dd>
            <dd>4、学习能力强，眼界开阔，对任何话题及知识都能夸夸其谈，有自己的见解，并能挖掘落实到推广方案；</dd>
            <dd>5、有微信运营经验者，有相应渠道资源者优先。</dd>
          </dl>

        </div>
        <div id="support05" class="detail-con">
          <h1>电商商品</h1>
          <dl>
            <dt>岗位职责：</dt>
            <dd>1、负责微信商城平台日常维护，商品上下架、数据统计，供应商管理拓展，商品筛选拓展等日常运营工作；</dd>
            <dd>2、圈定目标供应商，达成平台合作意向，负责各类商品的筛选、引进，丰富商城产品线；
            </dd>
            <dd>3、与供应商确认合作细节、操作流程、审核商品、商品选品、管理价格、售后管理、对账结算等，维护良好的商家合作关系；
            </dd>
          </dl>
          <dl>
            <dt>岗位要求：</dt>
            <dd>1、大专以上学历，熟悉电商运营，商品运营、选品、引进等流程；
            </dd>
            <dd>2、清晰的表达能力和熟练的谈判技能，较强的信息收集分析能力；
            </dd>
            <dd>3、熟悉各种商品网络招商途径和方法，善于与供应商合理有效的沟通、筛选和管理；</dd>
            <dd>4、有各品类商品供应商资源优先。</dd>
          </dl>

        </div>
        <div id="support06" class="detail-con">
          <h1>电商运营</h1>
          <dl>
            <dt>岗位职责：</dt>
            <dd>1、负责电商平台的日常维护工作，负责订单发货，与供应商对接订单等工作；处理退货/退款、异常快递订单的反馈、跟踪订单等售后问题；</dd>
            <dd>2、及时汇总归整平台上架商品、推广活动信息，有效的配合客服与客户进行售前售后问题沟通，及时与供应商沟通，协调订单售前/售后问题，及时解决客户问题；
            </dd>
            <dd>3、以专业、贴心、高效的服务，维护良好的客户关系，保证客户购买的满意度；
            </dd>
          </dl>
          <dl>
            <dt>岗位要求：</dt>
            <dd>1、能独立操作整个流程，具有网店、电商客服经验者优先，欢迎优秀应届毕业生加入；
            </dd>
            <dd>2、具有较好的抗压性、良好的情绪管理能力，良好的团队合作能力及良好的客户服务意识。
            </dd>
          </dl>

        </div>
        <!-- <div id="supply01" class="detail-con">
            <h1>供应链专员</h1>
            <dl>
                <dt>岗位职责：</dt>
                <dd>1、主导公司供应链工作，完成采购到进货等一系列流程；</dd>
                <dd>2、为公司产品提供价格指导；</dd>
                <dd>3、其他供应链相关工作。</dd>
            </dl>
            <dl>
                <dt>岗位要求：</dt>
                <dd>1、有三年以上连锁便利店采购从业经验，熟悉供应链供货体系及渠道。</dd>
            </dl>
        </div> -->
      </div>
    </div>
  </div>

  <a href="" title="" name="contactus"></a>
  <div class="row row7">
    <div class="containter">
      <div class="title-wrap" style="height: 160px;">
        <div class="title">
          <h1>联系我们</h1>
          <p>Contact Us</p>
        </div>
      </div>
      <div class="company-info">
        <div class="summary center">
          <p>颂车网竭诚为您提供优质服务！</p>
        </div>
      </div>
      <div class="contact">
        <div class="fl col1">
          <ul>
            <li class="mail">
              <span class="fl"></span>
              <div style="background: url('/img/about/icon-2.png') no-repeat " class="img-box fl"></div>
              <div class="fl">
                <h1 class="mark">招聘电话</h1>
                <p>023-89699638、023--89699617</p>
              </div>
            </li>
            <li class="mail">
              <span class="fl"></span>
              <div style="background: url('/img/about/icon-1.png') no-repeat " class="img-box fl"></div>
              <div class="fl">
                <h1 class="mark">招聘邮箱</h1>
                <p>heml@songcw.com、zhangl@songcw.com</p>
              </div>
            </li>
            <li class="web">
              <span class="fl"></span>
              <div style="background: url('/img/about/icon-3.png') no-repeat "  class="img-box fl"></div>
              <div class="fl">
                <h1 class="mark">地址</h1>
                <p>重庆市渝中区化龙桥华盛路10号企业天地2号楼8楼</p>
              </div>
            </li>
          </ul>
        </div>
        <div class="fl col2">
          <ul>
            <li class="phone">
              <span class="fl"></span>
              <div style="background: url('/img/about/icon-4.png') no-repeat " class="img-box fl"></div>
              <div class="fl">
                <h1>
                  <a class="mark" target="_blank" href="https://hr.lagou.com/company/gongsi/339568.html"
                     title="">拉勾网主页</a>
                </h1>
              </div>
            </li>
            <li class="phone">
              <span class="fl"></span>
              <div style="background: url('/img/about/icon-5.png') no-repeat " class="img-box fl"></div>
              <div class="fl">
                <h1>
                  <a class="mark" target="_blank" href="https://www.liepin.com/ecompany/preview/?ecompId=9539592"
                     title="">猎聘网主页</a>
                </h1>
              </div>
            </li>
            <li class="phone">
              <span class="fl"></span>
              <div style="background: url('/img/about/icon-6.png') no-repeat " class="img-box fl"></div>
              <div class="fl">
                <h1>
                  <a class="mark" target="_blank" href="https://company.zhaopin.com/CZ715392740.htm"
                     title="">智联主页</a>
                </h1>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="row row8">-->
    <!--<div id="map"></div>-->
  <!--</div>-->
</div>

<script>
  $(".tab .item").click(function () {
    $(".tab .item").removeClass("active").find(".sub-con").removeClass('active');
    $(this).addClass("active").find(".sub-con").addClass("active");
  })
  $('.sub-con li').click(function () {
    var i = $(this).attr("name");
    $('.sub-con li').removeClass('active');
    $('.con-inf .detail-con').removeClass('active');
    $(this).addClass('active');
    $("#" + i).addClass("active")
  })
</script>