
<!-- Swiper -->
<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide"><img src="/img/banner/index.jpg" alt=""></div>
  </div>
  <!-- Add Pagination -->
  <!--<div class="swiper-pagination"></div>-->
  <!-- Add Arrows -->
  <!--<div class="swiper-button-next"></div>-->
  <!--<div class="swiper-button-prev"></div>-->
</div>

<div class="scenario-column">
  <h1>颂车生态</h1>
  <h3>Songche Ecology</h3>
  <div class="scenario-slider ">
    <div class="scenario-list">
      <div class="scenario-item selected">
        <img class="selected" src="/img/index/Ecology-title-1.png" alt="">
        <img src="/img/index/Ecology-title-1-default.png" alt="">
        <h4>颂车社交</h4>
      </div>
      <div class="scenario-item ">
        <img class="selected" src="/img/index/Ecology-title-2.png" alt="">
        <img src="/img/index/Ecology-title-2-default.png" alt="">
        <h4>汽车交易</h4>
      </div>
      <div class="scenario-item ">
        <img class="selected" src="/img/index/Ecology-title-3.png" alt="">
        <img src="/img/index/Ecology-title-3-default.png" alt="">
        <h4>租赁出行</h4>
      </div>
      <div class="scenario-item ">
        <img class="selected" src="/img/index/Ecology-title-4.png" alt="">
        <img src="/img/index/Ecology-title-4-default.png" alt="">
        <h4>颂车云盒</h4>
      </div>
      <div class="scenario-item ">
        <img class="selected" src="/img/index/Ecology-title-5.png" alt="">
        <img src="/img/index/Ecology-title-5-default.png" alt="">
        <h4>车生活</h4>
      </div>
      <div class="scenario-item ">
        <img class="selected" src="/img/index/Ecology-title-6.png" alt="">
        <img src="/img/index/Ecology-title-6-default.png" alt="">
        <h4>商城</h4>
      </div>
    </div>
  </div>
  <div class="scenario-detail-list bt1px">
    <div class="scenario-detail-item selected">
      <div class="scenario-detail-left">
        <h4>颂车社交</h4>
        <p>闲暇时光，您可以在这里体验各色各样的车旅人生，发现更多有趣好玩内容，您需要的或许正是我们专注的！<br />
          您也可以分享您精彩炫酷的汽车生活，分享美好的同时或许下一位明星就是您！
        </p>
      </div>
      <div class="scenario-detail-right"><img src="/img/index/Ecology-1.png" alt=""></div>
      <div class="scenario-download">
        <a href="javascript:">立即下载</a>
        <img src="http://www.songcw.com/static/img/page4/qrcode-img.png" alt="">
      </div>
    </div>

    <div class="scenario-detail-item">
      <div class="scenario-detail-left">
        <h4>汽车交易</h4>
        <p>融资租赁、以组代购，全方位解决您购车成本高、资金压力大、服务响应慢、购车保障低等担忧！<br />
          人人有车、人人用车、人人爱车”我们一直竭诚付出，十分的努力只为您一分的满意！
        </p>
      </div>
      <div style="right:-170px;bottom:-70px" class="scenario-detail-right"><img src="/img/index/Ecology-2.png" alt=""></div>
      <div class="scenario-download">
        <a href="javascript:">立即下载</a>
        <img src="http://www.songcw.com/static/img/page4/qrcode-img.png" alt="">
      </div>
    </div>

    <div class="scenario-detail-item">
      <div class="scenario-detail-left">
        <h4>租赁出行</h4>
        <p>国内租、分时租、集团租，您所有的出行需求，我们都用心体会，只为给您带来极致的出行体验！<br />
          您每一次出行都怀揣着家人的牵挂，为您提供最优质的服务和保障，是我们的宗旨，安全出行，乐享自由！
        </p>
      </div>
      <div style="right:-110px;"  class="scenario-detail-right"><img src="/img/index/Ecology-3.png" alt=""></div>
      <div class="scenario-download">
        <a href="javascript:">立即下载</a>
        <img src="http://www.songcw.com/static/img/page4/qrcode-img.png" alt="">
      </div>
    </div>

    <div class="scenario-detail-item">
      <div class="scenario-detail-left">
        <h4>颂车云盒</h4>
        <p>依托云技术，嵌入车联网，一键启动、远程熄火、数据监测、车辆防盗、门窗智能锁、一键寻车，摆脱钥匙遗忘困扰！<br />
          用车风险预警，险情自动化推送，一键快速救援，保障用车安全！
        </p>
      </div>
      <div style="right:-50px;"  class="scenario-detail-right"><img src="/img/index/Ecology-4.png" alt=""></div>
      <div class="scenario-download">
        <a href="javascript:">立即下载</a>
        <img src="http://www.songcw.com/static/img/page4/qrcode-img.png" alt="">
      </div>
    </div>

    <div class="scenario-detail-item">
      <div class="scenario-detail-left">
        <h4>车生活</h4>
        <p> 整合汽车美容、维修保养、汽车保险、道路救援等资源，提供全面车生活服务，为万千车主提供便捷的车生活服务，提高车主的车生活品质！
        </p>
      </div>
      <div style="right:-80px;" class="scenario-detail-right"><img src="/img/index/Ecology-5.png" alt=""></div>
      <div class="scenario-download">
        <a href="javascript:">立即下载</a>
        <img src="http://www.songcw.com/static/img/page4/qrcode-img.png" alt="">
      </div>
    </div>


    <div class="scenario-detail-item">
      <div class="scenario-detail-left">
        <h4>商城</h4>
        <p>搭配积分商场，兑换您所想所需的商品，实用的、好玩的，刻不容缓；配套礼品商城，私人定制礼品，送礼物不再发愁！
        </p>
      </div>
      <div style="right:-100px; bottom: -90px"  class="scenario-detail-right"><img src="/img/index/Ecology-6.png" alt=""></div>
      <div class="scenario-download">
        <a href="javascript:">立即下载</a>
        <img src="http://www.songcw.com/static/img/page4/qrcode-img.png" alt="">
      </div>
    </div>
  </div>
</div>

<div style="background: rgb(255, 255, 255); min-width: 1280px;">
  <div class="scenario-column">
    <h1>科技赋能</h1>
    <h3>Technology Empowerment</h3>
    <div style="position: relative; height: 400px; margin: 0px; padding: 0px;">
      <div style="z-index: 0; font-size: 0px; position: absolute; left: 0px; top: 0px; width: 100%; display: block; transition: opacity 0.3s linear;">
        <div style="display: inline-block; vertical-align: top; width: 270px; height: 360px; border-radius: 2px 2px 0px 0px; margin: 0px 20px 0px 0px; border: 1px solid rgb(234, 234, 234); box-sizing: border-box; transition: transform 0.2s linear, -webkit-transform 0.2s linear;">
          <img src="/img/index/Empowerment-1.png" alt="" style="width: 270px; height: 180px; border-radius: 2px 2px 0px 0px; position: relative; left: -1px; border: 0px;">
          <h5 style="margin-top: 20px; font-size: 20px; line-height: 28px; color: rgb(51, 51, 51); font-weight: 600;">车联网</h5>
          <p style="margin: 14px 15px 0px; color: rgb(51, 51, 51); font-weight: 400; font-size: 12px; line-height: 20px; height: 60px;">采用车联网技术，驾驶更智能、更便捷！</p>
        </div>
        <div style="display: inline-block; vertical-align: top; width: 270px; height: 360px; border-radius: 2px 2px 0px 0px; margin: 0px 20px 0px 0px; border: 1px solid rgb(234, 234, 234); box-sizing: border-box; transition: transform 0.2s linear, -webkit-transform 0.2s linear;">
          <img src="/img/index/Empowerment-2.png" alt="" style="width: 270px; height: 180px; border-radius: 2px 2px 0px 0px; position: relative; left: -1px; border: 0px;">
          <h5 style="margin-top: 20px; font-size: 20px; line-height: 28px; color: rgb(51, 51, 51); font-weight: 600;">在线仲裁</h5>
          <p style="margin: 14px 15px 0px; color: rgb(51, 51, 51); font-weight: 400; font-size: 12px; line-height: 20px; height: 60px;">提供在线仲裁业务，线上交易有保证！</p>
        </div>
        <div style="display: inline-block; vertical-align: top; width: 270px; height: 360px; border-radius: 2px 2px 0px 0px; margin: 0px 20px 0px 0px; border: 1px solid rgb(234, 234, 234); box-sizing: border-box; transition: transform 0.2s linear, -webkit-transform 0.2s linear;">
          <img src="/img/index/Empowerment-3.png" alt="" style="width: 270px; height: 180px; border-radius: 2px 2px 0px 0px; position: relative; left: -1px; border: 0px;">
          <h5 style="margin-top: 20px; font-size: 20px; line-height: 28px; color: rgb(51, 51, 51); font-weight: 600;">聚合支付</h5>
          <p style="margin: 14px 15px 0px; color: rgb(51, 51, 51); font-weight: 400; font-size: 12px; line-height: 20px; height: 60px;">聚合第三方支付，资金安全有保障！</p>
        </div>
        <div style="display: inline-block; vertical-align: top; width: 270px; height: 360px; border-radius: 2px 2px 0px 0px; margin: 0px 20px 0px 0px; border: 1px solid rgb(234, 234, 234); box-sizing: border-box; transition: transform 0.2s linear, -webkit-transform 0.2s linear;">
          <img src="/img/index/Empowerment-4.png" alt="" style="width: 270px; height: 180px; border-radius: 2px 2px 0px 0px; position: relative; left: -1px; border: 0px;">
          <h5 style="margin-top: 20px; font-size: 20px; line-height: 28px; color: rgb(51, 51, 51); font-weight: 600;">金融风控</h5>
          <p style="margin: 14px 15px 0px; color: rgb(51, 51, 51); font-weight: 400; font-size: 12px; line-height: 20px; height: 60px;">完善的风控系统，规避金融风险更安全！</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="hy-friends-list">
  <a href="javascript:" class="hy-friends-item selected">
    <img alt="" class="hy-friends-img" src="img/index/Bottom-1.png" />
    <h4>平台战略</h4>
    <p>以重庆总部为中心，辐射全国市场！</p>
  </a>
  <a href="javascript:" class="hy-friends-item">
    <img alt="" class="hy-friends-img" src="img/index/Bottom-2.png" />
    <h4>颂车小站</h4>
    <p>打造集租赁、交易、物流、洗衣、学车等社群生态，服务用户！</p>
  </a>
  <a href="javascript:" class="hy-friends-item">
    <img alt="" class="hy-friends-img" src="img/index/Bottom-3.png" />
    <h4>租赁门店</h4>
    <p>整合租赁公司资源，提供标准化、全方位的优质服务！</p>
  </a>
</div>

<script>
  $('.scenario-item').click(function () {
    $(this).addClass('selected').siblings().removeClass('selected');
    $('.scenario-detail-item').eq($(this).index()).addClass('selected').siblings().removeClass('selected');
  });
  $('.hy-friends-item').mouseover(function () {
    $(this).addClass('selected').siblings().removeClass('selected');
  });
</script>