<link rel="stylesheet" type="text/css" href="/css/global.css"/>
<link rel="stylesheet" type="text/css" href="/css/joinus.css"/>

<!-- Swiper -->
<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide"><img src="https://img.alicdn.com/tfs/TB1R9Ius1uSBuNjy1XcXXcYjFXa-3840-900.jpg" alt="">
    </div>
    <div class="swiper-slide"><img src="https://img.alicdn.com/tfs/TB1R9Ius1uSBuNjy1XcXXcYjFXa-3840-900.jpg" alt="">
    </div>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
  <!-- Add Arrows -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>

<div class="content">
  <a href="" title="" name="bright"></a>
  <div class="section3">
    <div class="title-wrap ">
      <div class="title">
        <h1>五大亮点</h1>
        <p>Bright</p>
      </div>
    </div>
    <div class="container">
      <ul>
        <li>
          <div class="wraper">
            <img src="http://www.ulandian.com/imgs/supplyC1.png" alt="">
            <h4>一体化在线管理</h4>
            <p>这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述</p>
          </div>
        </li>
        <li>
          <div class="wraper">
            <img src="http://www.ulandian.com/imgs/supplyC1.png" alt="">
            <h4>一体化在线管理</h4>
            <p>这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述</p>
          </div>
        </li>
        <li>
          <div class="wraper">
            <img src="http://www.ulandian.com/imgs/supplyC1.png" alt="">
            <h4>一体化在线管理</h4>
            <p>这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述</p>
          </div>
        </li>
        <li>
          <div class="wraper">
            <img src="http://www.ulandian.com/imgs/supplyC1.png" alt="">
            <h4>一体化在线管理</h4>
            <p>这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述</p>
          </div>
        </li>
        <li>
          <div class="wraper">
            <img src="http://www.ulandian.com/imgs/supplyC1.png" alt="">
            <h4>一体化在线管理</h4>
            <p>这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述</p>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <a href="" title="" name="advantage"></a>
  <div class="section3">
    <div class="title-wrap ">
      <div class="title">
        <h1>十大优势</h1>
        <p>Advantage</p>
      </div>
    </div>
    <div class="container">
      <ul>
        <li>
          <div class="wraper">
            <img src="http://www.ulandian.com/imgs/supplyC1.png" alt="">
            <h4>一体化在线管理</h4>
            <p>这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述</p>
          </div>
        </li>
        <li>
          <div class="wraper">
            <img src="http://www.ulandian.com/imgs/supplyC1.png" alt="">
            <h4>一体化在线管理</h4>
            <p>这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述</p>
          </div>
        </li>
        <li>
          <div class="wraper">
            <img src="http://www.ulandian.com/imgs/supplyC1.png" alt="">
            <h4>一体化在线管理</h4>
            <p>这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述</p>
          </div>
        </li>
        <li>
          <div class="wraper">
            <img src="http://www.ulandian.com/imgs/supplyC1.png" alt="">
            <h4>一体化在线管理</h4>
            <p>这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述</p>
          </div>
        </li>
        <li>
          <div class="wraper">
            <img src="http://www.ulandian.com/imgs/supplyC1.png" alt="">
            <h4>一体化在线管理</h4>
            <p>这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述</p>
          </div>
        </li>
        <li>
          <div class="wraper">
            <img src="http://www.ulandian.com/imgs/supplyC1.png" alt="">
            <h4>一体化在线管理</h4>
            <p>这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述</p>
          </div>
        </li>
        <li>
          <div class="wraper">
            <img src="http://www.ulandian.com/imgs/supplyC1.png" alt="">
            <h4>一体化在线管理</h4>
            <p>这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述</p>
          </div>
        </li>
        <li>
          <div class="wraper">
            <img src="http://www.ulandian.com/imgs/supplyC1.png" alt="">
            <h4>一体化在线管理</h4>
            <p>这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述</p>
          </div>
        </li>
        <li>
          <div class="wraper">
            <img src="http://www.ulandian.com/imgs/supplyC1.png" alt="">
            <h4>一体化在线管理</h4>
            <p>这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述</p>
          </div>
        </li>
        <li>
          <div class="wraper">
            <img src="http://www.ulandian.com/imgs/supplyC1.png" alt="">
            <h4>一体化在线管理</h4>
            <p>这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述这是描述</p>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <a href="" title="" name="franchiseprocess"></a>
  <div class="section5">
    <div class="title-wrap ">
      <div class="title">
        <h1>加盟流程</h1>
        <p>Franchise Process</p>
      </div>
    </div>
    <div class="container">
      <img src="http://www.ulandian.com/imgs/supplyE1.png" alt="">
      <a href="" class="supply-join">立即入驻</a>
    </div>
  </div>


</div>

</div>
