<link rel="stylesheet" type="text/css" href="/css/global.css"/>
<link rel="stylesheet" type="text/css" href="/css/joinus.css"/>

<!-- Swiper -->
<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide"><img src="/img/banner/joinus.jpg" alt="">
    </div>
  </div>
  <!-- Add Pagination -->
  <!--<div class="swiper-pagination"></div>-->
  <!-- Add Arrows -->
  <!--<div class="swiper-button-next"></div>-->
  <!--<div class="swiper-button-prev"></div>-->
</div>

<div class="content">
  <a href="" title="" name="bright"></a>
  <div class="section3">
    <div class="title-wrap ">
      <div class="title">
        <h1>五大亮点</h1>
        <p>Bright</p>
      </div>
    </div>
    <div class="container">
      <ul>
        <li>
          <div class="wraper">
            <img src="/img/joinus/Bright-1.png" alt="">
            <h4>一体化在线管理</h4>
            <p>打破传统模式，提供集客户、团队、订单、签约、合同、结算、财务等一体化在线管理，简化流程，规范管理。</p>
          </div>
        </li>
        <li>
          <div class="wraper">
            <img src="/img/joinus/Bright-2.png" alt="">
            <h4>线上营销工具</h4>
            <p>提供商户自有线上营销工具，商户主导营销方式，借助平台品牌效应，增加营销方式变现力度。</p>
          </div>
        </li>
        <li>
          <div class="wraper">
            <img src="/img/joinus/Bright-3.png" alt="">
            <h4>用户裂变业务量</h4>
            <p>平台搭建裂变渠道，统一宣传推广，获取并裂变用户，帮助商户引流客户，提高商户业务增量。</p>
          </div>
        </li>
        <li>
          <div class="wraper">
            <img src="/img/joinus/Bright-4.png" alt="">
            <h4>风控系统保障</h4>
            <p>免费提供风控系统，多维度监控用户数据，警示用户风险程度，更有效地保障商户成交安全。</p>
          </div>
        </li>
        <li>
          <div class="wraper">
            <img src="/img/joinus/Bright-5.png" alt="">
            <h4>车联网生态圈集成</h4>
            <p>集成车联网生态圈，提供用户全方位服务，加强用户体验建设，增强用户黏性，提高商户复购率。</p>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <a href="" title="" name="advantage"></a>
  <div class="section3">
    <div class="title-wrap ">
      <div class="title">
        <h1>十大优势</h1>
        <p>Advantage</p>
      </div>
    </div>
    <div class="container">
      <ul>
        <li>
          <div class="wraper">
            <img src="/img/joinus/Advantage (1).png" alt="">
            <h4>集采、即售</h4>
            <p>集中规模采购，享受市场折扣价，降低商户成本；提供在线即售平台，规避商户资产堆积风险。</p>
          </div>
        </li>
        <li>
          <div class="wraper">
            <img src="/img/joinus/Advantage (2).png" alt="">
            <h4>客户资源及共享</h4>
            <p>整合租赁、汽车交易、维护保养、金融、车生活等行业资源，形成统一闭环，各行业间客户资源共享。</p>
          </div>
        </li>
        <li>
          <div class="wraper">
            <img src="/img/joinus/Advantage (3).png" alt="">
            <h4>品牌效应</h4>
            <p>树立品牌形象，打造品牌影响力，扩张用户群体，商户借助颂车品牌效应，收益日新月异。</p>
          </div>
        </li>
        <li>
          <div class="wraper">
            <img src="/img/joinus/Advantage (4).png" alt="">
            <h4>资金安全</h4>
            <p>接入用户征信及认证识别系统，聚合支付，资金流透明可追溯，强有力保障商户资金安全。</p>
          </div>
        </li>
        <li>
          <div class="wraper">
            <img src="/img/joinus/Advantage (5).png" alt="">
            <h4>智能比价</h4>
            <p>新车、二手车智能评估系统，实时掌握市场价格，帮助商户比价，动态调整价格，提高成交量。</p>
          </div>
        </li>
        <li>
          <div class="wraper">
            <img src="/img/joinus/Advantage (6).png" alt="">
            <h4>业务培训</h4>
            <p>一对一专人提供标准培训，帮助商户使用各在线工具；委派专人解决各工具使用过程中的疑难杂症。</p>
          </div>
        </li>
        <li>
          <div class="wraper">
            <img src="/img/joinus/Advantage (7).png" alt="">
            <h4>技术支持</h4>
            <p>结合商户线下业务，提供全面的技术支持，采用新技术将线下业务系统化、线上化，帮助商户拥抱互联网。</p>
          </div>
        </li>
        <li>
          <div class="wraper">
            <img src="/img/joinus/Advantage (8).png" alt="">
            <h4>平台系统支撑</h4>
            <p>提供免费的商户SAAS服务系统，接入移动互联网，帮助商户随时、随地、快速的处理业务。</p>
          </div>
        </li>
        <li>
          <div class="wraper">
            <img src="/img/joinus/Advantage (9).png" alt="">
            <h4>金融支撑</h4>
            <p>提供多元化金融产品，简化手续及办理流程，低利率、高效率解决资金周转难题。</p>
          </div>
        </li>
        <li>
          <div class="wraper">
            <img src="/img/joinus/Advantage (10).png" alt="">
            <h4>保姆式托管</h4>
            <p>商户线上业务全流程系统化，涵盖各个环节，操作简便快捷，保姆式托管，做一位真正的翘脚老板。</p>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <a href="" title="" name="franchiseconditions"></a>
  <div class="section2">
    <div class="title-wrap ">
      <div class="title">
        <h1>加盟条件</h1>
        <p>Franchise Conditions</p>
      </div>
    </div>

    <div style="width: 920px" class="container ">
      <div class="text">
        <dl>
          <!--<dt></dt>-->
          <dd class="left">
            <i>1</i>公司成立时间大于1年，公司及股东无不良记录
          </dd>
          <dd class="right">
            <i>2</i>取得行政许可资质
          </dd>
          <dd class="left">
            <i>3</i>有固定的经营场地
          </dd>
          <dd class="right">
            <i>4</i>认可颂车品牌及模式
          </dd>
        </dl>
      </div>
    </div>
  </div>

  <a href="" title="" name="franchiseprocess"></a>
  <div id="franchiseProcess">
    <div class="section5">
      <div class="title-wrap ">
        <div class="title">
          <h1>加盟流程</h1>
          <p>Franchise Process</p>
        </div>
      </div>
      <div style="width: 988px" class="container">
        <img src="/img/joinus/Process.png" alt="">
        <a href="javascript:" @click="merchantReg" class="supply-join">携手共创美好</a>
      </div>
    </div>
    <div id="dialog">
      <div id="dialog-con" class="supply">
        <div class="title">
          <!--<h1 v-text="submitForm"></h1>-->
          <h4>携手共创美好<span @click="closeMerchantReg" class="close">✕</span></h4>
          <hr>
        </div>
        <ul>
          <li>
            <span class="form-title">*您是：</span>
            <label><input v-model="submitForm.merchantType" type="radio" name="merchantType" value="1">企业</label>
            <label><input v-model="submitForm.merchantType" type="radio" name="merchantType" value="2">个人</label>
          </li>
        </ul>
        <ul>
          <li>
            <span class="form-title">*您所在城市：</span>
            <select @change="selectProvince" v-model="provinceIndex">
              <option value="">请选择省</option>
              <option v-for="(item, index) in provinceList" :value="index" v-text="item.provinceName"></option>
            </select>
            <select @change="selectCity" v-model="cityIndex" :disabled="provinceIndex === ''">
              <option value="">请选择市</option>
              <option v-for="(item, index) in cityList" :value="index" v-text="item.cityName"></option>
            </select>
            <select @change="selectDistrict" v-model="districtIndex"  :disabled="cityIndex === ''">
              <option value="">请选择区</option>
              <option v-for="(item, index) in districtList" :value="index" v-text="item.districtName"></option>
            </select>
          </li>
        </ul>
        <ul>
          <li>
            <span class="form-title">*联系人：</span>
            <input maxlength="4" v-model="submitForm.contactName"  type="text" class="w130">
            <label><input v-model="submitForm.contactSex" type="radio" name="contactSex" value="1">先生</label>
            <label><input v-model="submitForm.contactSex" type="radio" name="contactSex" value="2">女士</label>
          </li>
        </ul>
        <ul>
          <li>
            <span class="form-title">*联系手机号码：</span>
            <input maxlength="11" v-model="submitForm.contactTel" type="text" class="w130">
          </li>
        </ul>
        <ul>
          <li>
            <span class="form-title">您最关心（选填）：</span>
            <textarea v-model="submitForm.remark" id="consContent" name="consContent" placeholder=""></textarea>
          </li>
        </ul>
        <div id="submit-con">
          <input v-show="!loading" type="button" @click="submit" value="确认登记">
          <input v-show="loading" type="button" @click="submit" value="提交中...">
        </div>
      </div>
    </div>

    <script src="/js/vue.min.js"></script>

    <script>
      var franchiseProcessVM = new Vue({
        el: '#franchiseProcess',
        data() {
          return {
            dialogShow: false,
            provinceList: [],
            provinceIndex: '',
            cityList: [],
            cityIndex: '',
            districtList: [],
            districtIndex: '',
            loading: false,
            submitForm: {}
          }
        },
        methods: {
          closeMerchantReg() {
            $('#dialog').hide();
          },
          merchantReg() {
            this.$data.provinceIndex = '';
            this.$data.cityIndex = '';
            this.$data.districtIndex = '';
            this.$data.submitForm = {
              merchantType: '1',
              provinceCode: '',
              provinceName: '',
              cityCode: '',
              cityName: '',
              districtCode: '',
              districtName: '',
              contactName: '',
              contactSex: '1',
              contactTel: '',
              remark: ''
            };
            $('#dialog').show();
          },
          selectProvince() {
            if (this.$data.provinceIndex === '') {
              this.$data.cityIndex = '';
              this.$data.districtIndex = '';
              this.$data.submitForm.provinceCode = '';
              this.$data.submitForm.provinceName = '';
              this.$data.submitForm.cityCode = '';
              this.$data.submitForm.cityName = '';
              this.$data.submitForm.districtCode = '';
              this.$data.submitForm.districtName = '';
            } else {
              var item = this.$data.provinceList[this.$data.provinceIndex];
              this.$data.submitForm.provinceCode = item.provinceId;
              this.$data.submitForm.provinceName = item.provinceName;
              this.$data.cityList = item.cityList;
            }
          },
          selectCity() {
            if (this.$data.cityIndex === '') {
              this.$data.districtIndex = '';
              this.$data.submitForm.cityCode = '';
              this.$data.submitForm.cityName = '';
              this.$data.submitForm.districtCode = '';
              this.$data.submitForm.districtName = '';
            } else {
              var item = this.$data.cityList[this.$data.cityIndex];
              this.$data.submitForm.cityCode = item.cityId;
              this.$data.submitForm.cityName = item.cityName;
              this.$data.districtList = item.districtList;
            }
          },
          selectDistrict() {
            if (this.$data.districtIndex === '') {
              this.$data.submitForm.districtCode = '';
              this.$data.submitForm.districtName = '';
            } else {
              var item = this.$data.districtList[this.$data.districtIndex];
              this.$data.submitForm.districtCode = item.districtId;
              this.$data.submitForm.districtName = item.districtName;
            }
          },
          submit() {
            if (this.$data.submitForm.provinceCode === '' || this.$data.submitForm.cityCode === '' || this.$data.submitForm.districtCode === '') {
              layer.msg('请选择您所在城市');
              return false;
            }
            if (this.$data.submitForm.contactName.replace(/\s+/g, "") === '') {
              layer.msg('联系人不能为空');
              return false;
            }
            if (this.$data.submitForm.contactTel.replace(/\s+/g, "") === '') {
              layer.msg('手机号码不能为空');
              return false;
            }
            if (this.$data.submitForm.contactTel.length !== 11) {
              layer.msg('手机号码输入错误，请重新输入');
              return false;
            }
            var _this = this;
            _this.$data.loading = true;
            $.post('/api/merchantreg/merchantRegAdd', _this.$data.submitForm, function (res) {
              _this.$data.loading = false;
              if (!res.success) {
                layer.msg('提交失败， 请稍后重试');
              } else {
                layer.msg('提交成功，感谢您的参与');
                _this.closeMerchantReg();
              }
            });
          }
        },
        mounted() {
          axiosFormData('/openapi/common/regions', {}, function (res) {
            if (res.success && res.success === 'true') {
              franchiseProcessVM.provinceList = res.data;
            }
          });
        }
      })
    </script>

  </div>

</div>
