
<link rel="stylesheet" href="/css/news.css"/>

<!-- Swiper -->
<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide"><img src="/img/banner/news.jpg" alt=""></div>
  </div>
  <!-- Add Pagination -->
  <!--<div class="swiper-pagination"></div>-->
  <!-- Add Arrows -->
  <!--<div class="swiper-button-next"></div>-->
  <!--<div class="swiper-button-prev"></div>-->
</div>

<div class="news-list-box clearfix">
  <ul id="newsList" >

  </ul>
</div>

<script type="text/javascript">

  function loadNewsList() {
    $.post('/api/headline/headlineList', {
      "columnName": "头条",
      "terminal": 2,
      "appType": 1,
      "isUsed": 1,
//      "currentPage": 1,
//      "pageSize": 15
    }, function (res) {
      if (res.success) {
        for (var i in res.body.rows) {
          $('<li>' +
            '<a href="/newsdetail?id=' + res.body.rows[i].articleId + '">' +
              '<div class="news-img"><img src="' + res.body.rows[i].coverPhotoUrl + '" alt=""></div>' +
              '<p class="news-brief ch-font2 font-clamp2"><span>' + res.body.rows[i].title + '</span></p>' +
              '<p class="date-time ch-font2">'+ res.body.rows[i].gmtCreate + '</p>' +
            '</a>' +
          '</li>').appendTo($('#newsList'))
        }
      }
    });
  }

  loadNewsList();

</script>

