
<div class="header-container">
  <div class="header-content">
    <div class="logo" style="height: 32px; color: rgb(255, 68, 0); text-align: left;">
      <a href="/" style="display: block; position: relative;">
        <img src="/img/logo.png" width="129" height="35" alt="logo">
      </a>
    </div>
    <div class="header-navbar">
      <ul class="ice-menu ice-menu-horizontal header-navbar-menu ice-menu-light ice-menu-root" role="menu"
          aria-activedescendant="" tabindex="0">
        <li class="ice-menu-item" role="menuitem" aria-selected="false"><a
          href="https://alibaba.github.io/ice/docs/ice-design">设计</a></li>
        <li class="ice-menu-item" role="menuitem" aria-selected="false"><a
          href="https://alibaba.github.io/ice/docs/about">文档</a></li>
        <li class="ice-menu-item" role="menuitem" aria-selected="false"><a>物料 <i
          class="next-icon next-icon-arrow-down-filling next-icon-xxs arrow-down-filling-icon"></i></a></li>
        <li class="ice-menu-item" role="menuitem" aria-selected="false"><a>工具 <i
          class="next-icon next-icon-arrow-down-filling next-icon-xxs arrow-down-filling-icon"></i></a></li>
        <li class="ice-menu-item" role="menuitem" aria-selected="false"><a>社区 <i
          class="next-icon next-icon-arrow-down-filling next-icon-xxs arrow-down-filling-icon"></i></a></li>
      </ul>
    </div>
  </div>
</div>