
<div class="common-header-wrap fixed">
  <div class="common-header">
    <a href="/" class="logo"><img src="img/logo.png" alt=""></a>
    <ul class="menu">
      <li>
        <a href="/">首页</a>
      </li>
      <li>
        <a href="/newslist">颂车资讯</a>
      </li>
      <li>
        <a href="/about">关于颂车<i class="next-icon next-icon-arrow-down-filling next-icon-xxs arrow-down-filling-icon"></i></a>
        <div class="next-balloon next-balloon-normal next-balloon-medium next-balloon-top next-overlay-inner header-balloon-content next-position-tc">
          <a href="/about#enterpriseprofile" class="custom-sub-menu">企业简介</a>
          <a href="/about#enterpriseculture" class="custom-sub-menu">企业文化</a>
          <a href="/about#enterprisevision" class="custom-sub-menu">企业愿景</a>
          <a href="/about#developmentmileage" class="custom-sub-menu">发展里程</a>
          <a href="/about#officeenvironment" class="custom-sub-menu">办公环境</a>
          <a href="/about#joinus" class="custom-sub-menu">加入我们</a>
          <a href="/about#contactus" class="custom-sub-menu">联系我们</a>
        </div>
      </li>
      <li>
        <a href="/joinus">招商加盟<i class="next-icon next-icon-arrow-down-filling next-icon-xxs arrow-down-filling-icon"></i></a>
        <div class="next-balloon next-balloon-normal next-balloon-medium next-balloon-top next-overlay-inner header-balloon-content next-position-tc">
          <a href="/joinus#bright" class="custom-sub-menu">五大亮点</a>
          <a href="/joinus#advantage" class="custom-sub-menu">十大优势</a>
          <a href="/joinus#franchiseconditions" class="custom-sub-menu">加盟条件</a>
          <a href="/joinus#franchiseprocess" class="custom-sub-menu">加盟流程</a>
        </div>
      </li>
    </ul>
  </div>
</div>